html{
    scroll-behavior: smooth;
}
body{
    background-color: #2a2c2e;
    color: white;
    font-size: large;
}
#eye{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.gap{
    display: block;
    height: 35px;
}
.grey{
    background-color: #21201e;
}
.col50{
    float: left;
    width: 50%;
}

.col50 p{
    text-align: justify;
    margin: 20px;
}
.im img{
    display: block; 
    width: 80em;
    margin: auto;
}
.col20{
    float: left;
    width: 20%;
}
@media screen and (max-width: 1000px) {
    #eye{
        width: 700px;
        height: auto;
    }
    img{
        width: 25em;
    }
    .im img{
        width: 35em;
    }
    .col20{
        width: 100%;
    }
    .col20 img{
        width: auto;
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    #eye{
        width: 400px;
        height: auto;
    }
    .col50{
        width: 100%;
    }
    img{
        width: 25em;
    }
    .im img{
        width: 20em;
    }
    
}

video{
    width: inherit;
    margin-left: 40px;
}